<div class="container">

  <div class="title"><span>My Protfolio</span></div>
<div class="name">

  <span>
    <h1>Hi, I'm <span class="name">John Doe</span></h1>
    <h2>Web Developer</h2>
  </span>

</div>
<div class="profile">

  <div class="profile-img">
    <img src="/project/src/assets/ava.jpg" alt="profile">
  </div>

  <div class="profile-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod, voluptatem, voluptate, quae, doloremque, quia, quibusdam, voluptates, quos, nemo, ipsam, fugiat, quas, dolores, voluptatibus, autem, officiis, quidem, nesciunt, repellendus, doloribus, accusantium, tempora, fugit, dolorem, inventore, cumque, vero, ea, iure, atque, excepturi, similique, laborum, sit, magnam, perferendis, blanditiis, eos, adipisci, non, et, officia, deserunt, consequuntur, reiciendis, animi, modi, ratione, cum, praesentium, libero, harum, possimus, maiores, obcaecati, recusandae, consequatur, accusamus, in, impedit, pariatur, illum, tenetur, sapiente, alias, fugit.</p>

  </div>







</div>


</div>

