<mat-nav-list>
<div class="profile-card">
  <div class="header">
    <h2>Flen ben Flen</h2>
    <h4>example@email.com</h4>
  </div>

    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="avatar">


</div>

<mat-divider></mat-divider>
<h2 mat-subheader>Navigation</h2>
<a mat-list-item routerLink="/dashbord" routerLinkActive="active">
  <mat-icon matListIcon>dashboard</mat-icon>
  <span matLine> Dashboard</span>
</a>
<a mat-list-item routerLink="/users" routerLinkActive="active">
  <mat-icon matListIcon>people</mat-icon>
  <span matLine> Users</span>
</a>
<a mat-list-item routerLink="/posts" routerLinkActive="active">
  <mat-icon matListIcon>storage</mat-icon>
  <span matLine > Posts/Product</span>
</a>
<a mat-list-item routerLink="/posts" routerLinkActive="active">
  <mat-icon matListIcon>dns</mat-icon>
  <span matLine> Commands</span>
</a>
<mat-divider></mat-divider>
<h2 mat-subheader>Tools</h2>
<a mat-list-item routerLink="/contact" routerLinkActive="active">
  <mat-icon matListIcon>import_contacts</mat-icon>
  <span matLine> Contacts</span>
</a>




</mat-nav-list>



